<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>


<h1>View all Songs</h1>
<br>
<%= link_to 'Create Song', new_song_path %>
<br>
<br>    
<table>
    <thead> 
        <tr>
            <td>Artist Name</td>
            <td>Title</td>
            <td>Genre</td>
            <td>Released?</td>
            <td>Year Released?</td>
            <td>I.D.</td>
        </tr>
    </thead>
    <tbody>        
<% @songs.each do |song| %>
    <tr>
        <td><%= song.artist_name %></td>
        <td><%= song.title %></td>
        <td><%= song.genre %></td>
        <td><%= song.released ? "Yes" : "No" %></td>
        <td><%= song.release_year %></td>
        <td><%= song.id %></td>
        <td><%= link_to "View", song_path(song) %></td>
        <td><%= link_to "Edit", edit_song_path(song) %></td>
        <td><%= button_to "Delete", song, method: :delete, data: {confirm: 'Really delete?' } %></td>
    </tr>
<% end %>
</tbody>
</table>