<h1>Song title: <%= @song.title%></h1>
<p>Released: <%= @song.released%></p>
<p>Year of Release: <%= @song.release_year%></p>
<p>Artist Name: <%= @song.artist_name%></p>
<p>Genre: <%= @song.genre%></p>
