<!DOCTYPE html>
<html>
<head>
  <title>Crud With Validations Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>

<%= link_to "View all Songs", songs_path %><br>
<%= link_to "New Song", new_song_path %><br>
<hr>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
<% end %> 
<br>


<%= yield %>

</body>
</html>
